/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	list-style: none;
}

img {
	width: 100%;
}

button,
summary {
	cursor: pointer;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	--color-text: #111;
	--color-background: white;
	--header-color:#692c09;
	--color-lilac: #C8A2C8;
	--nav-border: lightgray;
	--header-text:#ffece1;
	--footer-color:#f1eeeb;
	--links:green;
	--footer-text:grey;
}

@font-face {
	font-family: "Karla-Regular";
	src: url(/fonts/Karla-Regular.ttf);
}

@font-face {
	font-family: "Karla-Bold";
	src: url(/fonts/Karla-Bold.ttf);
}

@font-face {
	font-family: "GrouchBT";
	src: url(/fonts/GrouchBT.ttf);
}

/****************/
/* JOUW STYLING */
/****************/
body {
	overflow-x: hidden;
	margin: 0;
}

header {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 3em 6em;
	overflow:hidden;
}

/* bruine moving tekst vanaf hier */
@keyframes movingText {
	0% {
		transform: translateX(100%);
	}
	50% {
		transform: translateX(-40%);
	}
	100% {
		transform: translateX(-100%);
	}
}

header > ul {
	display: flex;
	grid-column-start: 1;
	grid-column-end: -1;
}

header ul li {
	background-color: var(--header-color);
	height:1.7em;
}

header ul li p {
	width: 100%;
	margin: 0;
	color: var(--header-text);
	font-size: .8em;
	animation: movingText 8s;
	animation-iteration-count: infinite;
	word-spacing: .2em;
	white-space: nowrap;
	font-family: Karla-Regular;
}

/* Header logo, zoekbalk en winkelmandje */
header > a img {
	height: 80%;
	width: auto;
	/* object-fit: contain; */
}


header button {
	background-color: var(--color-background);
	border: none;
	width: 2em;
	margin-left: .3em;
}

header > button img {
	width: 1em;
}

header div {
	display: flex;
	justify-content: end;
	gap: 1em;
	margin-right: 1em;
}

header div a {
	display: flex;
	align-items: center;
}

header > div a img {
	height: 2em;
}

@media (min-width:45em) {
	header > button {
		display: none;
	}
	nav {
		position:static;
		transform:none;
	}

	nav ul {
		display: flex;
	}
}
/* Hamburger menu */
header > button {
	background-color: var(--color-background);
	width: 2em;
	border: none;
	font-size: 1.5em;
	grid-row-start: 2;
	grid-column-start: 1;
}

header nav {
	height: 100%;
	width: 88%;
	position: absolute; 
	top: 9em;
	left: 0;
	/* bottom: 0; */
	right: 2em;
	background-color: var(--color-background);
	z-index: 1000;
	transform: translateX(-100%);
	transition: .5s;
	border-top: .1em solid var(--nav-border);
}

.menuOpen img {
	content:url("/images/hamburger2.png");
  }

header nav.open {
	transform: translateX(0%);
}

header nav li {
	background-color: var(--color-background);
	margin-left: 3em;
	margin-bottom: 1em;
	margin-top: 1em;
}

header nav ul {
	margin-top: 4em;
}

header nav li a {
	color:var(--color-text);
	font-size: 1em;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Karla-Bold;

}

/* main */
h1 {
	visibility: hidden;
	margin:none;
	position: absolute;
	top:0;
	left:-999999999em;
	transform: scale(0.01);
}

/* section 1 */
main section:nth-of-type(1) {
	text-align: center;
}

main section:nth-of-type(1) h2 {
	visibility: hidden;
	margin: none;
	position: absolute;
}

main section:nth-of-type(1) img {
	width: 100%;
	height: 33.75em;
	object-fit: cover;
	object-position:  50% 10%;
}

@media (min-width: 64em) {
	main section:nth-of-type(1) img {
		height: 45em;
	}
  }

main section:nth-of-type(1) a {
	position: relative;
	bottom: 1em;
	background-color: var(--color-lilac);
	color: var(--color-background);
	border: 0.15em solid var(--color-text);
	border-radius: .5em;
	padding: 0.4em;
	padding-left: 2em;
	padding-right: 2em;
	text-decoration: none;
	font-family: Karla-Bold;
}

/* section 2 */
main section:nth-of-type(2){
	background-color:var(--footer-color);
	margin-left:1em;
	margin-right:1em;
	margin-top: 1em;
	display: grid;
	grid-template-rows: 37em 3em 7em 14em 4em;
}

main section:nth-of-type(2) img {
	grid-row-start: 1;
}

main section:nth-of-type(2) h2 {
	grid-row-start: 2;
	margin-left:.5em;
	text-transform: uppercase;
	font-family: GrouchBT;
	font-size: 2em;
}

main section:nth-of-type(2) p {
	font-size: 1.3em;
	margin: .5em;
	margin-left:.8em;
	font-family: Karla-Regular;
	font-size: 1.2em;
	line-height: 1.4em;
}

main section:nth-of-type(2) p:nth-of-type(1) {
	grid-row-start: 3;
}

main section:nth-of-type(2) p:nth-of-type(2) {
	grid-row-start: 4;
}

main section:nth-of-type(2) a {
	grid-row-start: 5;
	font-size: 1.3em;
    color:var(--color-text);
	border: .1em solid var(--color-text);
	border-radius: .4em;
	width: 10em;
	height: 1.8em;
	margin-left:.8em;
	text-align: center;
	text-decoration: none;
	padding-top:.2em;
	font-family: Karla-Regular;

}

main section:nth-of-type(2) a:hover {
	background-color: var(--color-background);
}

/* section 3 */
 section:nth-of-type(3){
	margin-left: 1em;
	margin-right: 1em;
	margin-top: 1em;
 }

 section:nth-of-type(3) h2 {
	grid-row-start: 1;
	grid-column-start: 1;
	margin-bottom: 1.3em;
	margin-top: 1.5em;
	font-size: 1.3em;
	font-family: Karla-Regular;
	text-transform: uppercase;

 }
 
 section:nth-of-type(3) ul {
	 display: grid;
	 grid-auto-rows: 20em;
	 grid-template-columns: 14.3em 14.3em;
	 gap: .5em;
	 grid-row-gap:3em;
 }

 section:nth-of-type(3) ul a {
	 display: flex;
	 flex-direction: column;
	 text-decoration: none;
	 color:var(--color-text);	 
 }

 section:nth-of-type(3) ul a img {
	 order:-100;
 }

 section:nth-of-type(3) ul a h3 {
	 font-size: 1em;
	 font-family: Karla-Regular;
 }

 section:nth-of-type(3) ul a h4 {
	font-size: .8em;
	order:-80;
	margin: .4em;
	font-family: Karla-Regular;
	margin-bottom: 1em;

 }

 section:nth-of-type(3) ul a h4:hover {
	 text-decoration: underline var(--color-text);
 }

 /* Section 4 */
 section:nth-of-type(4){
	margin-left: 1em;
	margin-right: 1em;
	margin-top: 5em;
}

section:nth-of-type(4) h2 {
	font-size: 1.8em;
	font-family: Karla-Regular;
	padding-left: 1.5em;
	padding-right: 1.5em;
	text-align: center;
	line-height: 1.3em;
	margin-bottom: 1em;

}

section:nth-of-type(4) p {
	padding-left: 1.5em;
	padding-right: 1.5em;
	margin-bottom: 1.3em;
	text-align: center;
	font-size: 1em;
	font-family: Karla-Regular;
	line-height: 1.3em;
}

section:nth-of-type(4) input {
	width: 14em;
    height: 3em;
	margin-left: 2.2em;
	padding-left: 1em;
	font-family: Karla-Regular;
	font-size: 1em;
}

section:nth-of-type(4) button {
	width: 10em;
    height: 3.7em;
	background-color: var(--header-color) ;
	color: var(--color-background);
	border:none;
}

section:nth-of-type(4) button:hover {
	opacity: 0.7;
}

/* Carousel */
section:nth-of-type(5) {
	margin-left: .8em;
	margin-top: 3em;

}
section:nth-of-type(5) h2 {
	margin-bottom: 1em;
	font-family: Karla-Regular;
	font-size: 1.3em;
}

/* bron voor me carousel: https://codepen.io/shooft/pen/abmLRMg?editors=1100 */
section:nth-of-type(5) ul {
	display: flex;
	overflow-x: scroll;
	scroll-snap-type: inline mandatory;
	scroll-behavior: smooth;
}

section:nth-of-type(5) > ul::-webkit-scrollbar {
	display: none;
}

section:nth-of-type(5) img {
	width: 28em;
	height: auto;
	order:-100;
}

section:nth-of-type(5) li {
	scroll-snap-align:center;
	margin-right: .5em;
	display: flex;
    flex-direction: column;
}

section:nth-of-type(5) li h3 {
	background-color:var(--footer-color);
	z-index: 1000;
	width: 100%;
	height: 3em;
	font-family: Karla-Regular;
	padding-left: 1em;
	padding-top: .8em;
}

section:nth-of-type(5) li p {
	margin-top: 2em;
	text-align: center;
	font-family: Karla-Regular;
	font-size: .8em;
	letter-spacing: 1em;
}


section:nth-of-type(6) {
	margin: 4em 1em 1em 1em;
}

section:nth-of-type(6) h2 {
	font-family: GrouchBT;
	color: var(--header-color);
	text-align: center;
	font-size:2em;
	margin-bottom: .5em;
}

section:nth-of-type(6) p {
	font-family: Karla-Regular;
	text-align: center;
	line-height: 1.4em;
}

section:nth-of-type(6) a {
	color: var(--links);
}


footer{
	background-color:var(--footer-color);
}

footer section:nth-of-type(1) {
	margin-top: 3em;
	padding: 3em 2em 0em 2em;
	border-bottom: var(--nav-border) solid .1em;
}

footer section:nth-of-type(1) ul li {
	margin-bottom: 2em;
}

footer section:nth-of-type(1) ul li h2 {
	font-family: Karla-Bold;
	text-transform: uppercase;
	font-size: 1em;
	margin-bottom: 1em;
}

footer section:nth-of-type(1) ul li h3 {
	font-family: Karla-Bold;
	text-transform: uppercase;
	font-size: 1em;
	margin-bottom: 1em;
}

footer section:nth-of-type(1) ul li p {
	font-family: Karla-Regular;
	font-size: 1em;
	line-height: 1.5em;
}

footer section:nth-of-type(1) ul li a {
	color: var(--footer-text);
	font-family: Karla-Regular;
}

footer section:nth-of-type(1) ul li:nth-of-type(3) h3{
	margin-bottom: 1.5em;
}

footer section:nth-of-type(1) ul li:nth-of-type(3) a {
	display: flex;
	flex-direction: row;
	text-decoration: none;
	margin-bottom: 1em;
	font-size: .9em;
}

footer section:nth-of-type(1) input {
	width: 14em;
    height: 3em;
	padding-left: 1em;
	font-family: Karla-Regular;
	font-size: 1em;
}

footer section:nth-of-type(1) button {
	width: 10em;
    height: 3.2em;
	background-color: var(--header-color) ;
	color: var(--color-background);
	border:none;
	text-transform: uppercase;
	font-family: Karla-Bold;
	font-size: 1em;
}

footer section:nth-of-type(1) button:hover {
	opacity: 0.7;
}


footer section:nth-of-type(2) h2{
	margin-top: 2em;
	color: var(--footer-text);
	margin-left: 30%;
	font-size: .8em;
	font-family: Karla-Regular;
}

footer section:nth-of-type(2) button {
	width: 15em;
	height: 3em;
	display: flex;
	justify-content: center;
	align-items: center;
	color:var(--footer-text);
	margin-left: 30%;
	margin-top: 1em;
	background: none;
	border: .1em solid var(--footer-text);
}

footer section:nth-of-type(2) button:hover {
	border: .2em solid var(--footer-text);
}

footer section:nth-of-type(2) p {
	color: var(--footer-text);
	margin-top: 1em;
	text-align: center;
	font-size: .8em;
	font-family: Karla-Regular;
}



 
 