/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
	box-sizing:border-box;
	padding:0;
	margin:0;
	list-style: none;
  }
  img{
	  width: 100%;
  }
  button, summary {
	  cursor: pointer;
  }
  
  
  
  
  
  /*********************/
  /* CUSTOM PROPERTIES */
  /*********************/
  :root {
	  /* startje */
	  --color-text:#111;
	  --color-background:#eee;
  }
  
  
  
  
  
  /****************/
  /* JOUW STYLING */
  /****************/
  @keyframes movingText{
	  0%   { 
		  transform: translateX(100%); 		
		  }
  
	  100% { 
		  transform: translateX(-120%); 
		  }
  }
  
  body{
	  overflow:hidden;
	  margin:0;
  }
  
  header ul li p {
	  width: 100%;
	  margin:0;
	  padding:.6em;
	  color: #ffece1;
	  font-size: .9em;
	  animation: movingText 5s;
	  animation-iteration-count: infinite;
	  animation-fill-mode: forwards;
	  word-spacing: .2em;
	  white-space: nowrap;
  }
  
  header ul li {
	background-color:	#622A0F;
  }
  
  header {
	  display: grid;
	  grid-template-columns: 1fr 1fr 1fr;
	  grid-template-rows: 3em 5em;
  }
  header img {
    height: 90%;
    object-fit: contain;
}
header div{
	display: flex;
    justify-content: end;
    gap: 2em;
	margin-right: 1em;
}
 
  header > ul {
   display:flex;
   grid-column-start: 1;
   grid-column-end: -1;
  }
  
  header > button {
	  background-color:white;
	  width: 2em;
	  border:none;
	  font-size: 1.5em;
	  grid-row-start: 2;
	  grid-column-start: 1;
  }
  
  header nav {
	  position:fixed;
	  top:8em;
	  left:0;
	  bottom:0;
	  right:0;
	  background-color:white;
	  z-index: 1000;
	  transform:translateX(-100%);
	  transition:.5s;
  }
  
  header nav.open {
	  transform:translateX(0%);
  }
  
	  /* header > a:nth-of-type(1) img {
		  width: 14em;
		  align-items: end;
		  margin-left:3em;
	  }
  
	  header > a:nth-of-type(2) {
		  justify-self: end;
		  width:1.5em;
	  }
  
	  header > a:nth-of-type(3) {
		  justify-self: center;
		  width:2em;	
	  } */
  
  section:nth-of-type(1) {
	  text-align: center;
  }
  
  section:nth-of-type(1) img{
	  width:100%;
  }
  
  section:nth-of-type(1) a {
	  position: relative;
	  bottom: 1em;
	  background-color:#C8A2C8;
	  color: white;
	  border: 0.15em solid black;
	  border-radius: .5em;
	  padding: 0.4em;
	  padding-left: 2em;
	  padding-right: 2em;
	  text-decoration: none;
  
   }
  
  header div a {
	  display: flex;
	  align-items: center;

  }
  
  header div a img {
	  height: 50%;
  }